@import "tailwindcss";

@import "driver.js/dist/driver.css";

@source "../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php";
@source "../../storage/framework/views/*.php";
@source "../**/*.blade.php";
@source "../**/*.js";

* {
    scroll-behavior: smooth;
}

#botmanWidgetRoot > div {
    pointer-events: none !important;
}

#botmanWidgetRoot > div > * {
    pointer-events: auto !important;
    cursor: pointer !important;
}
